.allNotes{
    font-size: 20px;
    font-weight: 550;
    padding: 0 16px;
}
.notesWrapper{
    padding: 10px 16px;
    border: 1px solid grey;
    border-radius: 10px;
    background: rgb(233, 232, 232);
    margin: 10px 16px;

}

.notesmain{
    display: flex;
    gap: 20px;
    font-size: 16px;
}
.notesButton{
    display: flex;
    gap: 24px;
    margin: 20px 0px 5px;
}
.notesButton > button{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.redColor{
    /* background: rgba(159, 13, 13, 0.63); */
    color: rgb(191, 40, 40);
}
.notFound{
    font-size: 16px;
    margin: 20px 0px;
    padding: 0 16px;
    /* width: fit-content; */
}